/* imported from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800&family=Raleway:wght@300;500;800&display=swap');


/* Variables */
:root {
    /* color pallette*/
    --primary-solid: #f33;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1d84b5;
    --secondary-900: rgba(29, 132, 181, 0.9);
    --secondary-500: rgba(29, 132, 181, 0.5);
    --secondary-300: rgba(29, 132, 181, 0.3);

    --dark-solid: #1f1f1f;
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);

    --dark-bg-solid: #30343f;
    --light-bg-solid: #fafaff;

    /* types*/
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* fonts size*/
    --font-xsmall: 1.2em;
    --font-small: 1.6em;
    --font-medium: 1.8em;
    --font-large: 2.4em;
    --font-xlarge: 3.2em;
    --font-jumbo: 3.8em;
    --font-display: 4.6em;

    /* spacing*/
    --space-128: 12.8rem;
    --space-68: 6.8rem;
    --space-36: 3.6rem;
    --space-28: 2.8rem;
    --space-24: 2.4rem;
    --space-20: 2.0rem;
    --space-16: 1.6rem;
    --space-8: .8rem;
}

/* keyframes */ 
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*Pages Normalize */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: var(--dark-solid);
    font-family: var(--primary-font);
}

header,
footer {
    padding: var(--space-36);
    display: flex;
    width: 100%;
    background-color: var(--dark-bg-solid);
    color: var(--light-bg-solid);
    font-family: var(--secondary-font);
    align-items: center;
    position: relative;
}

a {
    text-decoration: none;
    font-family: inherit;
    font-size: var(--font-medium);
    color: inherit
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/* banner */
.banner {
    background-image: url(../image/funkos-banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    padding: var(--space-128);
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(.9);
    z-index: 1;
}

.banner__article {
    display: flex;
    flex-direction: column;
    gap: var(--space-20);
    align-items: start;
    position: relative;
    z-index: 2;
}

.banner__title {
    font-family: var(--secondary-font);
    font-size: var(--font-jumbo);
    color: var(--light-bg-solid);
}

.banner__text {
    color: var(--light-bg-solid);
    font-size: var(--font-medium);
}

.banner__link {
    display: inline-block;  
    font-size: var(--font-medium);
    font-weight: 500;
    background-color: var(--light-bg-solid);
    padding: var(--space-8) var(--space-68);
    border-radius: 50px;
}

.banner__link:hover {
    background-color:var(--primary-900);
    color: var(--light-bg-solid);
    transition: all 0.3s ease-in-out;
}

/* navigation bar */
.navbar {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-128);
}

.navbar__logo {
    display: inline-block;
    max-width: 300px;
    left: 3rem;
}

.navbar__menu {
    display: flex;
    gap: var(--space-16);
}

.navbar__link {
    display: inline-block;
    font-size: var(--font-medium);
    padding: var(--space-8) var(--space-16);
    transition: background 0.2s ease-in-out;
    position: relative;
}

.navbar__link:hover {
    background-color: var(--primary-900);
}

.with__icon{
    display: flex;
    align-items: center;
    gap: var(--space-8);
}

.with__submenu:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 2;
}

.submenu__item {
    display: block;
    padding: var(--space-8) var(--space-16);
    font-size: inherit;
    transition: background 0.4s ease-in-out;
}

.submenu__item:hover {
    background-color: var(--primary-900);
}

/* coleccion */
.colection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: var(--space-16) 0;
}

.colection:nth-child(2) .colection__pict {
    order: -1;
}

.colection__item {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
    align-items: start;
}

.colection__title {
    font-family: var(--secondary-font);
    font-size: var(--font-display);
    font-weight: 500;
}

.colection__text {
    font-family: var(--secondary-font);
    font-size: var(--font-large);
    font-weight: 300;
    border-bottom: 2px solid var(--primary-solid);
    padding-bottom: var(--space-20);
}

.colection__link {
    display: inline-block;
    font-size: var(--font-medium);
    font-weight: 500;
    background-color: var(--dark-bg-solid);
    color: var(--light-bg-solid);
    padding: var(--space-16) var(--space-36);
    border-radius: 50px;
}

.colection__link:hover {
    background-color: var(--primary-solid);
    color: var(--light-bg-solid);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

/* slider */
.slider {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
    margin: var(--space-68) auto;
}

.slider__title {
    font-family: var(--secondary-font);
    font-size: var(--font-display);
    text-transform: uppercase;
    font-weight: 500;
}

.slider__items {
    display: flex;
    gap: var(--space-24);
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    padding: var(--space-16);
}

.card__licence {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.card__title {
    font-size: var(--font-medium);
    font-weight: 700;
}

.card__price {
    font-size: var(--font-small);
}

.card__promo {
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 500;
}

.card__pict {
    display: flex;
    transition: all 0.4 ease-in-out;
    position: relative;
}

.card__pict img {
    animation: fade 2s;
}

.card__pict--back {
    display: none;
}

.card__pict:hover .card__pict--back {
    display: block;
}

.card__pict:hover .card__pict--front {
    display: none;
}

.card__tag {
    color: var(--light-bg-solid);
    background-color: var(--primary-solid);
    padding: var(--space-8) var(--space-16);
    font-family: var(--secondary-font);
    font-size: var(--font-xsmall);
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    right: 0;
}

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-16) var(--space-36);
}

.footer__navbar {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    margin-bottom: var(--space-36);
}

footer .navbar__logo {
    max-width: 100px;
}

.footer p {
    font-size: var(--font-xsmall);
    text-align: center;
    margin-top: var(--space-8);
}

/* pagina de Item */
.item--card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 200%;
}

.item--card:nth-child(1) .colection__pict {
    order: -1;
}

/* pagina de shop */
.main_shop {
    display: flex;
    flex-direction: row;
}

.aside {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin: var(--space-36) var(--space-24);

}

.gallery {
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin-left: 20vw;
}

/* aside */ 

.form__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-36);
}

.form__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
}

.form__item {
    display: flex;
    gap: var(--spacing-28);
    align-items: center;
}

.form__label {
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 400;
}

.form__input {
    flex-grow: 3;
    border-bottom: 2px solid var(--primary-color);
    font-size: medium;
}

.form__button {
    display: flex;
    flex-direction: row;
    font-size: var(--font-small);
    background-color: var(--primary-900);
    color: var(--third-color);
    padding: var(--spacing-12) var(--spacing-20);
    border-radius: 5px;
    align-self: center;
}

.form__checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-12)
}

.form__check {
    display: flex;
    justify-items: flex-end;
    gap: var(--spacing-8);
    font-size: small;
}

.aside__form {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-68);
}

.aside__div {
    position: relative;
    display: flex;
    flex-direction: column;
}

.aside__label {
    display: flex;
    flex-direction: column;
    font-family: var(--base-font);
    font-size: var(--font-small);
    text-transform: uppercase;
}

.aside__list {
    display: flex;
    flex-direction: row;
}

#select {
    width: fit-content;
}

/* paginador */
.pagination {
    display: flex;
    margin: var(--space-24);
    padding: var(--spacing-68);
    align-items: center;
    justify-content: center;
}

.pagination a {
    color: var(--dark-bg-solid);
    float: center;
    padding: 10px 18px;
    text-decoration: none;
}

.pagination a.active {
    background-color: var(--secondary-solid);
    color: var(--light-bg-solid);
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: var(--light-bg-solid);
    border-radius: 5px;
}


/* login page */

.login {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: var(--space-16);
    margin: var(--space-24) auto;
    gap: var(--space-24);
}

.title__login {
    font-family: var(--secondary-font);
    font-size: var(font-small);
    text-transform: uppercase;
}

.form {
    width: auto;
    justify-content: auto;
    align-items: center;
}